@font-face {
    font-family: 'Roboto';
    src: url('../font/Roboto-Black.eot');
    src: url('../font/Roboto-Black.eot?#iefix') format('embedded-opentype'),
        url('../font/Roboto-Black.woff2') format('woff2'),
        url('../font/Roboto-Black.woff') format('woff'),
        url('../font/Roboto-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../font/Roboto-Bold.eot');
    src: url('../font/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
        url('../font/Roboto-Bold.woff2') format('woff2'),
        url('../font/Roboto-Bold.woff') format('woff'),
        url('../font/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../font/Roboto-Light.eot');
    src: url('../font/Roboto-Light.eot?#iefix') format('embedded-opentype'),
        url('../font/Roboto-Light.woff2') format('woff2'),
        url('../font/Roboto-Light.woff') format('woff'),
        url('../font/Roboto-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../font/Roboto-Medium.eot');
    src: url('../font/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
        url('../font/Roboto-Medium.woff2') format('woff2'),
        url('../font/Roboto-Medium.woff') format('woff'),
        url('../font/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../font/Roboto-Regular.eot');
    src: url('../font/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('../font/Roboto-Regular.woff2') format('woff2'),
        url('../font/Roboto-Regular.woff') format('woff'),
        url('../font/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../font/Roboto-Thin.eot');
    src: url('../font/Roboto-Thin.eot?#iefix') format('embedded-opentype'),
        url('../font/Roboto-Thin.woff2') format('woff2'),
        url('../font/Roboto-Thin.woff') format('woff'),
        url('../font/Roboto-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin:0;
    font-family: Roboto, sans-serif;
}
header{
    display: flex;
    flex-direction:column;
    margin-top: 80px;
}
#logo{
    margin-top: 10px;
    margin-left: 15px;
    width: 100px;
}
#barnavigation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #d92950;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 80px;
    width: 100vw;
    
}
nav ol{
    display: flex;
    flex-direction: row;
    margin-top: 8%;
}
nav li {
    list-style: none;
    margin-right: 50px;
}
nav li a{
    font-weight: bold;
    text-decoration: none;
    font-size: 12px;
    color: #FFFFFF;
    font-weight: 100;
}
.accueil{
    border-bottom: 2.6px solid rgba(255, 4,107,1);
}
nav li:hover{
    border-bottom: 22.6px solid rgba(255,4,107, 1);

}
#dev{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 110vh;
    background-image: url(images/hero-background.jpg);
    background-size: cover;
    width: 100vw;
}
#dev h1{
    width: 50%;
    font-size: 75px;
    color: #FFFFFF;
    margin-top: 70px;
    text-align: center;

}
#devqual{
    color: #ffe64d;
}
#dev ol{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5%;
    width: 40%;
    height: auto;
}
#dev li{
    list-style: none;
    
}
#dev .hbtn1{
    list-style: none;
    background: white;
    padding: 18px 23px;
    border-radius: 15px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    color: #d92950;
    text-decoration: none;
    border: 3px solid white;
}
a:hover{
    background-color: #d92950;
}
p{
    margin-top: 3.5%;
    text-align: center;
    color: white;
    font-size: 18px;
    width: 55vw;
    line-height: 4vh;
}
#hlogos{
    margin-top: 4%;
    flex-direction: row;
    justify-content: space-around;
    width: 100vw;
}
#hlogos ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#hlogos li{
    list-style: none;
    opacity: 0.7;
}


    

